* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.counterApp {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.increaseBtn, .decreaseBtn {
    outline: none;
    border: none;
    padding: 15px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
    background-color: #10507e;
    color: white;
    margin: 2rem;
    border-radius: 50%;
}

.resetBtn {
    padding: .7rem 1.2rem;
    outline: none;
    border: none;
    border-radius: 12px;
    background-color: #44b288;
    margin-left: 13rem;
    cursor: pointer;
}