* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bold {
    font-size: x-large;
    font-weight: 700;
    color: orangered;
}



.hover:hover {
    color: seagreen;
}

.fontStyle {
    padding: 1rem;
    font-size: x-large;
    font-weight: 700;
    background-color: #333;
    color: azure;
}

.dev {
    color: orangered;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: cadetblue;
}

.area {
    background-color: black;
    padding: 20px;
    color: white;
}

.box {
    background-color: red;
    padding: 20px;
}